/* clean browser styles */
body, ul, h1, h2, a {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

header {
  background-color: #F63232;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: auto;
}

header h1 {
  color: #fff;
  border: 8px solid #fff;
  padding: 6px 12px;
  display: inline;
  border-radius: 36px;
}

/* banner */

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .welcome {
  background-color: #FDB001;
  color: #fff;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 30%;
}

.banner h2 {
  font-size: 74px;
}

.banner h2 span {
  font-size: 1.3em;
}

/* menu */
nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 50px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
  }

nav li a.join {
  color: #FDB001;
}

/*page main content styles */

main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}